<div class="jumbotron center">
	<table style="width:100%">
  <tr>
    <td><h2><%= t('personal'); %></h2></td>
    <td><h2><%= t('school'); %></h2></td> 
    <td><h2><%= t('organization'); %></h2></td>
  </tr>
  <tr>
    <td><%= t('p1'); %></td>
    <td><%= t('s1'); %></td> 
    <td><%= t('o1'); %></td>
  </tr>
  <tr>
    <td><%= t('p2'); %></td>
    <td><%= t('s2'); %></td> 
    <td><%= t('o2'); %></td>
  </tr>
  <tr>
    <td><%= t('p3'); %></td>
    <td><%= t('s3'); %></td> 
    <td><%= t('o3'); %></td>
  </tr>
</table>
	
</div>


