<% if user_signed_in? %>
  <%= link_to 'New Book', new_book_path %>
<% end %>

<div id="books" class="transitions-enabled data-columns">
  <% @books.each do |book| %>
    <div class="box panel panel-default">
      <%= image_tag book.image.url %>
      <div class="panel-body">
        <%= book.name %>
        <%= book.isbn %>
        <%= book.user.email if book.user %>
        <%= link_to 'Show', book_path(book) if (can? :read, book) %>
        <%= link_to 'Edit', edit_book_path(book) if (can? :update, book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } if (can? :destroy, book)%>
      </div>
    </div>
  <% end %>
</div>

