<%= image_tag @book.image.url %>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Age:</strong>
  <%= @book.age %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to (t 'donate'), donate_book_path(@book), method: :put unless @book.donated? %> |
<%= link_to 'Edit', edit_book_path(@book) if (can? :update, @book)%> |
<%= link_to 'Back', books_path %>
